.gradient-background {
  background: linear-gradient(300deg, #e4abb5, #ffcdff,  #549ab2);
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.white {
  color: white;
}


.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 150px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
  background-color: #E75480;
}

.bg-custom-1 {
  background-color:#d5ecff;
}

#new {
  background-color: rgb(209, 237, 255);
}

.p-5 {
  background-color: rgb(237, 225, 250);
}